.main-contentCUT {
    width: calc(100vw - 155px);
    height: auto;
    min-height: calc(100vh - 140px);
    position: absolute;
    top: 100px;
    left: 115px;
    background-color: #CBCBCB;
    border-radius: 8px;
    padding: 40px;
}
.main-contentCUT h1 {
    text-align: center;
    margin-bottom: 20px;
}
.blocoDadosCUT {
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
}
.form-groupCUT {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.form-groupCUT label {
    font-size: 20px;
}
.form-groupCUT input {
    font-size: 15px;
}
/* .form-groupCUT input::placeholder {
    color: black;
} */
.radio-groupCUT {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sexoOpcaoCUT, .nivel {
    margin-left: 10px;
    accent-color: black;
}
.radio-groupCUT label {
    margin-left: 10px;
}
.edit-buttonCUT {
    display: flex;
    justify-content: flex-end;
}
.edit-buttonCUT button {
    width: 170px;
    height: 50px;
    background-color: #405587;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.edit-buttonCUT button:hover {
    background-color: #163681;
}