.sidebarT {
    width: 75px;
    height: calc(100vh - 100px);
    background-color: #697CB1;
    position: fixed;
    z-index: 4500;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sidebarT ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebarT ul li {
    width: 75px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    cursor: pointer;
}
.sidebarT ul li:hover {
    background-color: #93A5DD;
}
.MenuT img {
    width: 35px;
    height: auto;
}
/* .Home {
    background-color: #93A5DD;
} */
#HomeT img {
    width: 35px;
    height: auto;
}
.date-timeT {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.CalendarioT {
    width: 40px;
    height: auto;
}
.HoraT {
    color: white;
    font-weight: bold;
    margin-top: 5px;
}
.DataT {
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin: 3px;
}